# Ignore the virtual environment folder
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database file
database.db

# Flask instance folder
instance/

# Log files
*.log

# IDE specific files (optional)
.vscode/
.idea/
